<%= form_with model: artist do |form| %>
    <% if artist.errors.any? %>
        <div>
            <div class="sum-errors"><b><%= pluralize(artist.errors.count, "error") %> present</b></div>
            <ul>
                <% artist.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, id: "name", placeholder: "Artist name", class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :years_active, class: "form-label" %>
        <%= form.text_field :years_active, id: "years-active", placeholder: "Active years", class: "form-control" %>
    </div>
    
    <div class="mb-3">
        <%= form.label :members, class: "form-label" %>
        <%= form.text_field :members, id: "members", placeholder: "Band members", class: "form-control" %>
    </div>
    
    <div class="mb-3" >
        <%= form.submit class: "btn btn-primary mb-3" %>
    </div>
<% end %>
