<%= turbo_stream.append "comments-list" do %>
    <div class="comment mb-3">
        <div><strong><%= @comment.name %></strong>: <%= @comment.text %></div>
        <%= link_to "Delete", album_comment_path(@album.id, @comment), data: { "turbo-method": :delete } %> |
        <%= link_to "Edit", edit_album_comment_path(@album.id, @comment) %>
    </div>
<% end %>

<%= turbo_stream.replace "add_comment" do %>
    <turbo-frame id="add_comment">
        <%= link_to "Add comment", new_album_comment_path(@album), class: "btn btn-primary" %>
    </turbo-frame>
<% end %>

