<%= form_with model: album do |form| %>
    <% if album.errors.any? %>
        <div>
            <div class="sum-errors"><b><%= pluralize(album.errors.count, "error") %> present</b></div>
            <ul>
                <% album.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, placeholder: "Album name", class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :price, class: "form-label" %>
        <%= form.text_field :price, placeholder: "Album price", class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :artist_id, class: "form-label" %>
        <%= form.select :artist_id, Artist.all.map { |artist| [artist.name, artist.id] }, {}, {class: "form-select"} %>
    </div>

    <div class="mb-3">
        <%= form.submit class: "btn btn-primary mb-3" %>
    </div>
<% end %>
