<h2>Album details</h2>
<div class="mb-3"><b>Name:</b> <%= @album.name %></div>
<div class="mb-3"><b>Price:</b> <%= @album.price %></div>
<div class="mb-3">
    <%= button_to "Delete", 
        album_path(@album), 
        method: :delete, 
        data: { turbo_confirm: "Are you sure?" }, 
        class: "btn btn-danger" %>
</div>

<%= form_for([@album, @album.comments.build]) do |form| %>
    <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, placeholder: "Your name", class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :text, class: "form-label" %>
        <%= form.text_field :text, placeholder: "Your comment", class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= form.submit class: "btn btn-primary mb-3" %>
    </div>
<% end %>

<div>
    <% @album.comments.each do |comment| %>
        <% if comment.name && comment.text %>
            <div>
                <p><strong><%= comment.name %></strong>: <%= comment.text %></p>
                <%= link_to "Delete", album_comment_path([@album, comment]), data: { "turbo-method": :delete } %> | 
                <%= link_to "Edit", edit_album_comment_path([@album, comment]) %>
            </div>
        <% end %>
    <% end %>
</div>

