<h2>Album details</h2>
<div><b>Name:</b> <%= @album.name %></div>
<div><b>Price:</b> <%= @album.price %></div>
<div>
    <%= button_to "Delete", 
        album_path(@album), 
        method: :delete, 
        data: { turbo_confirm: "Are you sure?" }, 
        class: "btn btn-danger" %>
</div>

<%= form_for([@album, @album.comments.build]) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :text %>
        <%= form.text_field :text %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

<div>
    <% @album.comments.each do |comment| %>
        <% if comment.name && comment.text %>
            <div>
                <p><strong><%= comment.name %></strong>: <%= comment.text %></p>
                <%= link_to "Delete", album_comment_path([@album, comment]), data: { "turbo-method": :delete } %> | 
                <%= link_to "Edit", edit_album_comment_path([@album, comment]) %>
            </div>
        <% end %>
    <% end %>
</div>

